{% load static %}

<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div class="container">
    <header class="header">
        <h1>The Beatles Project</h1>

    </header><!-- header -->
    <div id="content">
        {% block content %}
        {% endblock %}
    </div><!-- content -->
    <footer class="footer">   
        <div class="footer-container">    
        <p class="footer-title">&copy;2021 Andrei Vsiakikh</p>
        <div class="links">
            <a target="_blank" href="https://github.com/teaguru">{% load static %} <img src="{% static 'images/icons8-github.svg' %}" alt="git icon" /></a>
            <a target="_blank" href="https://www.linkedin.com/in/andrey-vsyakikh/">{% load static %} <img src="{% static 'images/icons8-linkedin.svg' %}" alt="linkedin icon" /></a>            
        </div>
    </div>         
    </footer>
    </div>
</body>

</html>