{% extends "base.html" %}

{% block content %}

<form class="row gy-2 gx-3  align-items-center" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
<div class="text-center">
    <a class="btn btn-primary" role="button" href="{% url 'albums_app:album_list' %}">Cancel</a>
</div>

{% endblock %}