{% extends "base.html" %}

{% block content %}

<h2 class="list-title">Album List</h2>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
          <th scope="col">Album Name</th>
          <th scope="col">Album Author</th>
          <th scope="col">Album Price</th>
          <th scope="col">Tracks Count</th>
          <th scope="col">Release Date</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
<tbody>
    {% for album in object_list %}
<tr>
    <td>{{ album.name }} </td>
    <td>{{ album.author }} </td>
    <td>{{ album.collectionPrice}} </td>
    <td>{{album.trackCount}} </td> 
    <td>{{album.releaseDate}}</td>


   <td><a class="btn btn-primary" href="{% url 'albums_app:album_edit' album.id %}">edit </a></td>
   <td><a class="btn btn-danger" href="{% url 'albums_app:album_delete' album.id %}">delete</a> </td>

    {% endfor %}
</tr>
</tbody>
</table>
</ul>

<div class="btn-container">
  <a class="btn btn-secondary" role="button" href="{% url 'albums_app:album_new' %}">New</a>
  <a class="btn btn-secondary" role="button" href="{% url 'albums_app:test' %}">Renew data</a>
  <a class="btn btn-secondary" role="button" href="{% url 'albums_app:async' %}">Download data</a>
  <a class="btn btn-secondary" role="button" href="{% url 'albums_app:stress' %}">Scaling test</a>
</div>






{% endblock %}
