{% extends "base.html" %}

{% block content %}


<form method="post">{% csrf_token %}
    Are you sure you want to delete "{{ object }}" ?<br>
    <input type="submit" value="Delete" />
</form>
<div class="text-center">
    <a class="btn btn-primary" role="button" href="{% url 'albums_app:album_list' %}">Cancel</a>
  </div>



{% endblock %}