 body {    
    background-color: azure; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    max-width: 1440px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}


a { 
    color:#0000EE;
    text-decoration:none;
}



#user {float:right; }

 
  
  .btn-container {
    width: 600px;
    display: flex;
    justify-content: space-around;
  }

.footer {
    margin-top: 40px;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}

.footer-title {
    padding-top: 24px;
}

.btn-secondary {
    min-width: 160px;
}
